<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>com.ishan.aura</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>CFBundleExecutable</key>
	<string>aura</string>
	<key>GITHUB_API_TOKEN</key>
	<string>YOUR_GITHUB_TOKEN_HERE</string>
	<key>NSCameraUsageDescription</key>
	<string>We need access to your camera to take photos of your hair for analysis.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need access to your photo library to analyze photos of your hair.</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
	<key>OPENAI_API_KEY</key>
	<string>$(OPENAI_API_KEY)</string>
	<key>CFBundleDisplayName</key>
	<string>Fiora</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~iphone</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>black</string>
		<key>UILaunchScreen</key>
		<dict>
			<key>UILabelAttributes</key>
			<dict>
				<key>UILabelFontName</key>
				<string>HelveticaNeue-Medium</string>
				<key>UILabelFontSize</key>
				<integer>40</integer>
				<key>UILabelText</key>
				<string>fiora</string>
				<key>UILabelTextColor</key>
				<string>white</string>
			</dict>
		</dict>
	</dict>
	<key>LSRequiresIPhoneOS</key>
	<true/>
</dict>
</plist>
